[submodule "openshift-images"]
	path = openshift-images
	url = https://github.com/openshift/images
[submodule "openshift-router"]
	path = openshift-router
	url = https://github.com/openshift/router
[submodule "openshift-sdn"]
	path = openshift-sdn
	url = https://github.com/openshift/sdn
[submodule "openshift-coredns"]
	path = openshift-coredns
	url = https://github.com/openshift/coredns
[submodule "openshift-csi-external-snapshotter"]
	path = openshift-csi-external-snapshotter
	url = https://github.com/openshift/csi-external-snapshotter
[submodule "kube-rbac-proxy"]
	path = kube-rbac-proxy
	url = https://github.com/openshift/kube-rbac-proxy
[submodule "ovn-kubernetes"]
	path = ovn-kubernetes
	url = https://github.com/openshift/ovn-kubernetes
[submodule "openshift-containernetworking-plugins"]
	path = openshift-containernetworking-plugins
	url = https://github.com/openshift/containernetworking-plugins
[submodule "openshift-multus-cni"]
	path = openshift-multus-cni
	url = https://github.com/openshift/multus-cni
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/openshift/kubernetes
[submodule "openshift-oc"]
	path = openshift-oc
	url = https://github.com/openshift/oc
[submodule "openshift-service-ca-operator"]
	path = openshift-service-ca-operator
	url = https://github.com/openshift/service-ca-operator
